<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>  <!-- 全局性设置懒加载。如果设为‘false’，则所有相关联的都会被初始化加载 -->
		<setting name="aggressiveLazyLoading" value="false"/>  <!-- 当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。 -->
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/><!-- 使用驼峰命名法转换字段。 -->
	</settings>


	<!-- 打印SQL插件 -->
	<!--<plugins>
        <plugin interceptor="com.zcckj.storeshow.interceptor.MybatisInterceptor"></plugin>
    </plugins>-->

	<!-- 注意：配置拦截器的时候需要注意plugins的位置,plugins位置顺序如下：（否则会解析报错） -->
	<!-- "configuration" 的内容必须匹配 "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers?) -->
</configuration>